[epel-testing]
name=Extra Packages for Enterprise Linux 7 - Testing - $basearch
{% if epel_specify_mirror is sameas true %}
baseurl={{ epel_mirror_url }}/testing/7/$basearch
{% else %}
metalink=https://mirrors.fedoraproject.org/metalink?repo=testing-epel7&arch=$basearch
{% endif %}
failovermethod=priority
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7

[epel-testing-debuginfo]
name=Extra Packages for Enterprise Linux 7 - Testing - $basearch - Debug
{% if epel_specify_mirror is sameas true %}
baseurl={{ epel_mirror_url }}/testing/7/$basearch/debug
{% else %}
metalink=https://mirrors.fedoraproject.org/metalink?repo=testing-debug-epel7&arch=$basearch
{% endif %}
failovermethod=priority
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7
gpgcheck=1

[epel-testing-source]
name=Extra Packages for Enterprise Linux 7 - Testing - $basearch - Source
{% if epel_specify_mirror is sameas true %}
baseurl={{ epel_mirror_url }}/testing/7/SRPMS
{% else %}
metalink=https://mirrors.fedoraproject.org/metalink?repo=testing-source-epel7&arch=$basearch
{% endif %}
failovermethod=priority
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7
gpgcheck=1